@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.bg-blur-black{
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.panel-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px);
}

.text-title{
    font-size: 2em;
}

.second{
    height: 70vh;
}

.menu {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1664575599618-8f6bd76fc670?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:767px) {
    .img-brand img{
        display: none;
    }
    .img-uwuh{
        display: none;
    }
}
